@import "../../global.scss";

.menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: -20rem;
  padding: 2rem;
  border-radius: 5px;
  width: 13rem;
  height: 100vh;
  transition: 1s ease;
  z-index: 2;
  background-color: white;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      color: $mainColor;
      font-size: 2rem;
      transition: 0.2s;

      &:hover {
          color: lightsalmon;
      }
    }
  }
  &.active {
    right: 0;
    background-color: $mainColor;
    ul {
     
      a {
        color: white;
        &:hover {
            color: lightsalmon;
        }
      }
    }
  }
}
