@import "../../global.scss";

.topbar {
  background-color: white;
  color: $mainColor;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: 0.8s ease-out;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 2rem;

      .itemContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightcoral;
        border-radius: 10px;
        position: relative;
      }

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
      }
      .icon {
        padding: 1rem;
        font-size: 1.2rem;
      }
    }
    .right {
      .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 2.4rem;
        gap: 0.6rem;

        .menubar {
          width: 100%;
          height: 0.2rem;
          background-color: $mainColor;
          transform-origin: left;
          transition: 2s ease;
          z-index: 1000;
          position: relative;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;
    -webkit-box-shadow: 0px 15px 17px -1px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 15px 17px -1px rgba(0, 0, 0, 0.48);

    .hamburger {
      position: relative;
      .menubar {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
          position: relative;
          z-index: 100;
        }
        &:nth-child(2) {
          opacity: 0;
          z-index: 100;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg) translateY(2px);
          z-index: 100;
        }
      }
    }
  }
}
