@import "../../global.scss";

.topbar {
  background-color: white;
  color: $mainColor;
  width: 100%;
  height: 5rem;
  position: relative;
  transition: 0.8s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  z-index: 3;

  .socials {
    display: flex;
    gap: 1rem;
    flex-shrink: 1;
  

    a {
      color: black;
      font-size: 3rem;
      transition: 0.7s ease;


      &:hover {
        color: $mainColor;
      }
    }
  }

  .logo {
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;

    @media (max-width: 768px) {
      display: none;
  }}
    .navItems {
      display: flex;
      justify-content: space-evenly;
      flex-basis: 30rem;
      letter-spacing: 0.1rem;
      flex-shrink: 1;

      a {
        color: black;
        font-size: 1.6rem;
        transition: 0.3s;
        font-weight: 500;
        flex-shrink: 1;
        

        &.selected {
          color: $mainColor;
        }
      }
    }


 
  }

