@import "../../global.scss";

.topbar {
  background-color: white;
  color: $mainColor;
  width: 100%;
  height: 5rem;
  position: relative;
  transition: 0.8s ease-out;
  // -webkit-box-shadow: 0px 15px 17px -1px rgba(0, 0, 0, 0.28);
  // box-shadow: 0px 15px 17px -1px rgba(0, 0, 0, 0.28);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  .logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    position: absolute;
    left: 1rem;
    top: 0.02 rem;
  }
  .icon {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .navItems {
      display: flex;
      justify-content: space-evenly;
      width: 33rem;
      letter-spacing: 0.1rem;
      gap: 1.4rem;

      a {
        color: black;
        font-size: 1.6rem;
        transition: 0.3s;
        font-weight: 500;

        &.selected {
          color: $mainColor;
        }
      }
    }

    .hamburger {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 2.4rem;
      gap: 0.6rem;

      .menubar {
        width: 100%;
        height: 0.2rem;
        background-color: $mainColor;
        transform-origin: left;
        transition: 2s ease;
        z-index: 1000;
        position: relative;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;
    .wrapper {
      .left {
        .logo {
          color: white;
        }
      }
    }

    .hamburger {
      position: relative;
      .menubar {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
          position: relative;
          z-index: 100;
        }
        &:nth-child(2) {
          opacity: 0;
          z-index: 100;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg) translateY(2px);
          z-index: 100;
        }
      }
    }
  }
}
