@import "../../global.scss";

.contact {
    display: flex;
    height: calc(100dvh - 5rem);
 

    .left {
        flex: 1;
        overflow: hidden;

        img {
            height: 100%;
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center

        h2 {
            font-size: 2rem;
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            input {
                width: 300px;
                height: 30px;
                font-size: 14px;
            }
            textarea {
                width: 300px;
                height: 200px;
                font-size: 14px;
            }
            button {
                width: 150px;
                height: 30px;
                color: white;
                background-color: $mainColor;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
            }
        }
        span {
            color: green;
        }
    }
}