@import "../../global.scss";

.works {
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100dvh - 5rem);


    h1 {
        font-size: 3rem;
        z-index: 100;
        position: absolute;
        top: 2rem;
        color: $mainColor
    }

    .arrow {
        font-size: 4rem;
        position: absolute;

        &.left{
            left: 100px;
            cursor: pointer;
        }
        &.right {
            cursor: pointer;
            right: 100px;

        }
    }

    .slider {
        height: 24rem;
        display: flex;
        position: absolute;
        left: 0;

        .container {
            width: 100vw;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;

            .number {
                font-weight: 500;
            }
        }
        .item {
            width: 50rem;
            height: 100%;
            background-color: white;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
           
            -webkit-box-shadow: -7px 8px 14px 2px rgba(0,0,0,0.65); 
            box-shadow: -7px 8px 14px 2px rgba(0,0,0,0.65);

            .left {
                flex: 4;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: center;

                .leftContainer {
                    width: 90%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                 

                    .imgContainer {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgb(248, 156, 123);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        
                    }
                    img {
                        width: 25px;
                    }
                    h2 {
                        font-size: 20px;
                    }
                    p{
                        font-size: 13px;
                    }
                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        cursor: pointer;
                        border: 2px solid $mainColor;
                        border-radius: 10px;
                        width: max-content;
                        padding: 0.3rem;
                        align-self: center;
                        transition: 0.3s;

                        &:hover {
                            background-color: $mainColor;
                        }
                
                    }

                }
            }
            .right {
                height: 100%;
                flex: 8;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    width: 400px;
                    transform: rotate(-10deg);
                }
            }
        }
    }
}